.weather-app {
  display: block;
  margin: 0 auto;
  padding: 30px;
  max-width: 750px;
}

h1 {
  font-size: 90px;
  max-width: 150px;
  margin: 0px;
}
p {
  font-size: 35px;
}
h5 {
  font-size: 45px;
  font-size: 23px;
  font-weight: normal;
}

button {
  border-radius: 5px;
}
button:hover {
  cursor: pointer;
}
.search {
  max-width: 250px;
}
.days {
  font-size: 15px;
  border: 1px solid black;
  margin: 10px auto;
  padding: 7px;
  border-radius: 5px;
}
.unit {
  margin: 20px 0px;
  padding: 0px 22px;
}
.temp {
  padding: 0px 0px 0px 12px;
}
.townInput {
  padding: 25px 0px;
}
.emoji {
  padding: 10px 0px;
}
